<body>
    <mat-card>
        <b><span>मुख्य फलक</span></b>
    </mat-card>
    <br>
    <div class="row">
        <div class="column">
            <div class="card">
                <div class="container">
                    <h2 class="title">एकूण उत्पादने</h2>
                    <h1 class="title">{{data?.product}}</h1>
                    <p><button class="button" [routerLink]="['/cafe/product']">उत्पादन पाहा</button></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <div class="container">
                    <h2 class="title">एकूण बिले</h2>
                    <h1 class="title">{{data?.bill}}</h1>
                    <p><button class="button" [routerLink]="['/cafe/bill']">बिल पाहा</button></p>
                </div>
            </div>
        </div>


    </div>
</body>
